<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wpf.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="借方发生额累计" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="贷方发生额累计" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="借方发生额合计" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="贷方发生额合计" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="下拉框_年" serializeAs="String">
                <value>2014</value>
            </setting>
            <setting name="下拉框_月" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="登陆用户名" serializeAs="String">
                <value />
            </setting>
            <setting name="注册码" serializeAs="String">
                <value>md5</value>
            </setting>
            <setting name="初始化程序" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="注册时间" serializeAs="String">
                <value />
            </setting>
            <setting name="主窗口位置" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="is主窗口最大化" serializeAs="String">
                <value>False</value>
            </setting>
        </Wpf.Properties.Settings>
    </userSettings>
</configuration>